{{template "base" .}}

{{define "title"}}help -- {{.Site.Domain}}{{end}}

{{define "meta"}}
<meta name="description" content="questions and answers" />
{{end}}

{{define "attrs"}}{{end}}

{{define "body"}}
<header>
    <h1 class="text-2xl">Need help?</h1>
    <p>Here are some common questions on using this platform that we would like to answer.</p>
</header>
<main>
    <section id="permission-denied">
        <h2 class="text-xl">
            <a href="#permission-denied" rel="nofollow noopener">#</a>
            I get a permission denied when trying to SSH
        </h2>
        <p>
            Unfortunately SHA-2 RSA keys are <strong>not</strong> currently supported.
        </p>
        <p>
            Unfortunately, due to a shortcoming in Go’s x/crypto/ssh package, we do
            not currently support access via new SSH RSA keys: only the old SHA-1 ones will work.
            Until we sort this out you’ll either need an SHA-1 RSA key or a key with another
            algorithm, e.g. Ed25519. Not sure what type of keys you have? You can check with the
            following:
        </p>
        <pre>$ find ~/.ssh/id_*.pub -exec ssh-keygen -l -f {} \;</pre>
        <p>If you’re curious about the inner workings of this problem have a look at:</p>
        <ul>
            <li><a href="https://github.com/golang/go/issues/37278">golang/go#37278</a></li>
            <li><a href="https://go-review.googlesource.com/c/crypto/+/220037">go-review</a></li>
            <li><a href="https://github.com/golang/crypto/pull/197">golang/crypto#197</a></li>
        </ul>
    </section>

    <section id="ssh-key">
        <h2 class="text-xl">
            <a href="#ssh-key" rel="nofollow noopener">#</a>
            Generating a new SSH key
        </h2>
        <p>
            <a href="https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent">Github reference</a>
        </p>
        <pre>ssh-keygen -t ed25519 -C "your_email@example.com"</pre>
        <ol>
            <li>When you're prompted to "Enter a file in which to save the key," press Enter. This accepts the default file location.</li>
            <li>At the prompt, type a secure passphrase.</li>
        </ol>
    </section>

    <section id="post-update">
        <h2 class="text-xl">
            <a href="#post-update" rel="nofollow noopener">#</a>
            How do I update a post?
        </h2>
        <p>
            Updating a post requires that you update the source document and then run the <code>scp</code>
            command again.  If the filename remains the same, then the post will be updated.
        </p>
    </section>

    <section id="post-delete">
        <h2 class="text-xl">
            <a href="#post-delete" rel="nofollow noopener">#</a>
            How do I delete a post?
        </h2>
        <p>
            Because <code>scp</code> does not natively support deleting files, I didn't want to bake
            that behavior into my ssh server.
        </p>

        <p>
            However, if a user wants to delete a post they can delete the contents of the file and
            then upload it to our server.  If the file contains 0 bytes, we will remove the post.
            For example, if you want to delete <code>delete.txt</code> you could:
        </p>

        <pre>
cp /dev/null delete.txt
scp ./delete.txt {{.Site.Domain}}:/</pre>

        <p>
            Alternatively, you can go to <code>ssh {{.Site.Domain}}</code> and select "Manage posts."
            Then you can highlight the post you want to delete and then press "X."  It will ask for
            confirmation before actually removing the post.
        </p>
    </section>

    <section id="post-upload-single-file">
        <h2 class="text-xl">
            <a href="#post-upload-single-file" rel="nofollow noopener">#</a>
            When I want to publish a new post, do I have to upload all posts everytime?
        </h2>
        <p>
            Nope!  Just <code>scp</code> the file you want to publish.  For example, if you created
            a new post called <code>taco-tuesday.md</code> then you would publish it like this:
        </p>
        <pre>scp ./taco-tuesday.md {{.Site.Domain}}:</pre>
    </section>

    <section id="multiple-accounts">
        <h2 class="text-xl">
            <a href="#multiple-accounts" rel="nofollow noopener">#</a>
            Can I create multiple accounts?
        </h2>
        <p>
           Yes!  You can either a) create a new keypair and use that for authentication
           or b) use the same keypair and ssh into our CMS using our special username
           <code>ssh new@{{.Site.Domain}}</code>.
        </p>
        <p>
            Please note that if you use the same keypair for multiple accounts, you will need to
            always specify the user when logging into our CMS.
        </p>
    </section>

    <section id="pipe">
        <h2 class="text-xl">
            <a href="#pipe" rel="nofollow noopener">#</a>
            Can I pipe my paste?
        </h2>
        <p>
           Yes!
        </p>
        <pre>echo "foobar" | ssh pastes.sh</pre>
        <pre>echo "foobar" | ssh pastes.sh FILENAME</pre>
        <pre># if the tty warning annoys you
echo "foobar" | ssh -T pastes.sh</pre>
    </section>
</main>
{{template "marketing-footer" .}}
{{end}}
