listen ircs://0.0.0.0:6697
listen https://0.0.0.0:8080
listen ident://0.0.0.0:113
listen http+prometheus://localhost:9000
listen unix+admin:///run/soju/admin
tls /certs/irc.pico.sh/fullchain.pem /certs/irc.pico.sh/key.pem
http-origin chat.pico.sh
hostname irc.pico.sh
db sqlite3 /app/db/soju-main.db
message-store db
auth oauth2 https://auth.pico.sh/bouncer
disable-inactive-user 30d
enable-user-on-auth true
max-user-networks -1
