{{template "base" .}}

{{define "title"}}{{.Site.Domain}} -- A zero-install static site hosting service for hackers{{end}}

{{define "meta"}}
<meta name="description" content="A zero-install static site hosting service for hackers" />

<meta property="og:type" content="website">
<meta property="og:site_name" content="{{.Site.Domain}}">
<meta property="og:url" content="https://{{.Site.Domain}}">
<meta property="og:title" content="{{.Site.Domain}}">
<meta property="og:description" content="A zero-install static site hosting service for hackers">

<meta name="twitter:card" content="summary" />
<meta property="twitter:url" content="https://{{.Site.Domain}}">
<meta property="twitter:title" content="{{.Site.Domain}}">
<meta property="twitter:description" content="A zero-install static site hosting service for hackers">
<meta name="twitter:image" content="https://{{.Site.Domain}}/card.png" />
<meta name="twitter:image:src" content="https://{{.Site.Domain}}/card.png" />

<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta itemprop="image" content="https://{{.Site.Domain}}/card.png" />
<meta property="og:image" content="https://{{.Site.Domain}}/card.png" />
{{end}}

{{define "attrs"}}{{end}}

{{define "body"}}
<header>
  <h1 class="text-2xl font-bold">{{.Site.Domain}}</h1>
  <p class="text-lg">A zero-install static site hosting service for hackers</p>
  <div>
    <a href="https://pico.sh/getting-started" class="btn-link my">
      GET STARTED
    </a>
  </div>

  <hr />

  <div class="group">
    <div class="box">
      <h2 class="text-xl">Features</h2>
      <ul>
        <li>Distinct static sites as projects</li>
        <li>Unlimited projects, created instantly upon upload</li>
        <li>Deploy using <a href="https://pico.sh/file-uploads">rsync, sftp, or scp</a></li>
        <li>Github Action</li>
        <li>Promotion/rollback support</li>
        <li>Managed HTTPS for all projects</li>
        <li>Promotion and rollback support<li>
        <li>Site <a href="https://pico.sh/analytics">analytics</a></li>
        <li>Custom domains for projects</li>
        <li>Custom Redirects & Rewrites</a></li>
        <li>Custom Headers</li>
        <li>SPA support</li>
        <li>Image manipulation API</li>
        <li>Multiple regions</li>
      </ul>
    </div>

    <div class="box">
      <h2 class="text-xl">Publish your site with one command</h2>

      <p>
        When your site is ready to be published, copy the files to our server with a
        familiar command:
      </p>

      <pre>rsync -rv public/ pgs.sh:/myproj/</pre>

      <p>
        That's it! There's no need to formally create a project, we create them
        on-the-fly. Further, we provide TLS for every project automatically.
      </p>
    </div>

    <div>
      <a href="https://pico.sh/getting-started" class="btn-link mt">
        GET STARTED
      </a>
    </div>
  </div>
</header>

{{template "marketing-footer" .}}
{{end}}
