DATABASE_URL=postgresql://postgres:secret@postgres:5432/pico?sslmode=disable
POSTGRES_PASSWORD=secret
CF_API_TOKEN=secret

MINIO_CADDYFILE=./caddy/Caddyfile.minio
MINIO_DOMAIN=minio.dev.pico.sh
MINIO_EMAIL=hello@pico.sh
MINIO_URL=http://minio:9000
MINIO_BROWSER_REDIRECT_URL=http://console.$MINIO_DOMAIN:9001
MINIO_ROOT_USER=miniosecret
MINIO_ROOT_PASSWORD=miniosecret
MINIO_PROMETHEUS_AUTH_TYPE=public
MINIO_PROMETHEUS_URL=
MINIO_PROMETHEUS_JOB_ID=minio

USE_IMGPROXY=1
IMGPROXY_DOMAIN=imgproxy.dev.pico.sh
IMGPROXY_URL=http://imgproxy:8080
IMGPROXY_ALLOWED_SOURCES=s3://,local://
IMGPROXY_LOCAL_FILESYSTEM_ROOT=/storage
IMGPROXY_USE_S3=true
IMGPROXY_S3_ENDPOINT=$MINIO_URL
IMGPROXY_KEY=6465616462656566 # deadbeef
IMGPROXY_SALT=6465616462656566 # deadbeef
AWS_ACCESS_KEY_ID=$MINIO_ROOT_USER
AWS_SECRET_ACCESS_KEY=$MINIO_ROOT_PASSWORD
IMGPROXY_PROMETHEUS_BIND=:8081
IMGPROXY_PROMETHEUS_NAMESPACE=imgproxy

LISTS_CADDYFILE=./caddy/Caddyfile
LISTS_V4=
LISTS_V6=
LISTS_HTTP_V4=$LISTS_V4:80
LISTS_HTTP_V6=[$LISTS_V6]:80
LISTS_HTTPS_V4=$LISTS_V4:443
LISTS_HTTPS_V6=[$LISTS_V6]:443
LISTS_SSH_V4=$LISTS_V4:22
LISTS_SSH_V6=[$LISTS_V6]:22
LISTS_HOST=
LISTS_SSH_PORT=2222
LISTS_WEB_PORT=3000
LISTS_PROM_PORT=9222
LISTS_DOMAIN=lists.dev.pico.sh:3000
LISTS_EMAIL=hello@pico.sh
LISTS_SUBDOMAINS=1
LISTS_CUSTOMDOMAINS=1
LISTS_PROTOCOL=http
LISTS_ALLOW_REGISTER=1
LISTS_DEBUG=1

PASTES_CADDYFILE=./caddy/Caddyfile
PASTES_V4=
PASTES_V6=
PASTES_HTTP_V4=$PASTES_V4:80
PASTES_HTTP_V6=[$PASTES_V6]:80
PASTES_HTTPS_V4=$PASTES_V4:443
PASTES_HTTPS_V6=[$PASTES_V6]:443
PASTES_SSH_V4=$PASTES_V4:22
PASTES_SSH_V6=[$PASTES_V6]:22
PASTES_HOST=
PASTES_SSH_PORT=2222
PASTES_WEB_PORT=3000
PASTES_PROM_PORT=9222
PASTES_DOMAIN=pastes.dev.pico.sh:3001
PASTES_EMAIL=hello@pico.sh
PASTES_SUBDOMAINS=1
PASTES_CUSTOMDOMAINS=1
PASTES_PROTOCOL=http
PASTES_ALLOW_REGISTER=1
PASTES_DEBUG=1

PROSE_CADDYFILE=./caddy/Caddyfile
PROSE_V4=
PROSE_V6=
PROSE_HTTP_V4=$PROSE_V4:80
PROSE_HTTP_V6=[$PROSE_V6]:80
PROSE_HTTPS_V4=$PROSE_V4:443
PROSE_HTTPS_V6=[$PROSE_V6]:443
PROSE_SSH_V4=$PROSE_V4:22
PROSE_SSH_V6=[$PROSE_V6]:22
PROSE_HOST=
PROSE_SSH_PORT=2222
PROSE_WEB_PORT=3000
PROSE_PROM_PORT=9222
PROSE_DOMAIN=prose.dev.pico.sh:3002
PROSE_EMAIL=hello@pico.sh
PROSE_SUBDOMAINS=1
PROSE_CUSTOMDOMAINS=1
PROSE_PROTOCOL=http
PROSE_ALLOW_REGISTER=1
PROSE_DEBUG=1

IMGS_CADDYFILE=./caddy/Caddyfile
IMGS_V4=
IMGS_V6=
IMGS_HTTP_V4=$IMGS_V4:80
IMGS_HTTP_V6=[$IMGS_V6]:80
IMGS_HTTPS_V4=$IMGS_V4:443
IMGS_HTTPS_V6=[$IMGS_V6]:443
IMGS_SSH_V4=$IMGS_V4:22
IMGS_SSH_V6=[$IMGS_V6]:22
IMGS_HOST=
IMGS_SSH_PORT=2222
IMGS_WEB_PORT=3000
IMGS_PROM_PORT=9222
IMGS_DOMAIN=imgs.dev.pico.sh:3003
IMGS_EMAIL=hello@pico.sh
IMGS_SUBDOMAINS=1
IMGS_CUSTOMDOMAINS=1
IMGS_PROTOCOL=http
IMGS_ALLOW_REGISTER=1
IMGS_STORAGE_DIR=.storage
IMGS_DEBUG=1

SENDGRID_API_KEY=
FEEDS_CADDYFILE=./caddy/Caddyfile
FEEDS_V4=
FEEDS_V6=
FEEDS_HTTP_V4=$FEEDS_V4:80
FEEDS_HTTP_V6=[$FEEDS_V6]:80
FEEDS_HTTPS_V4=$FEEDS_V4:443
FEEDS_HTTPS_V6=[$FEEDS_V6]:443
FEEDS_SSH_V4=$FEEDS_V4:22
FEEDS_SSH_V6=[$FEEDS_V6]:22
FEEDS_HOST=
FEEDS_SSH_PORT=2222
FEEDS_WEB_PORT=3000
FEEDS_PROM_PORT=9222
FEEDS_DOMAIN=feeds.dev.pico.sh:3004
FEEDS_EMAIL=hello@pico.sh
FEEDS_SUBDOMAINS=1
FEEDS_CUSTOMDOMAINS=1
FEEDS_PROTOCOL=http
FEEDS_ALLOW_REGISTER=1
FEEDS_DEBUG=1

PGS_CADDYFILE=./caddy/Caddyfile.pgs
PGS_V4=
PGS_V6=
PGS_HTTP_V4=$PGS_V4:80
PGS_HTTP_V6=[$PGS_V6]:80
PGS_HTTPS_V4=$PGS_V4:443
PGS_HTTPS_V6=[$PGS_V6]:443
PGS_SSH_V4=$PGS_V4:22
PGS_SSH_V6=[$PGS_V6]:22
PGS_HOST=
PGS_SSH_PORT=2222
PGS_WEB_PORT=3000
PGS_PROM_PORT=9222
PGS_DOMAIN=pgs.dev.pico.sh:3005
PGS_EMAIL=hello@pico.sh
PGS_SUBDOMAINS=1
PGS_CUSTOMDOMAINS=1
PGS_PROTOCOL=http
PGS_ALLOW_REGISTER=1
PGS_STORAGE_DIR=.storage
PGS_DEBUG=1

AUTH_V4=
AUTH_V6=
AUTH_IRCS_V4=$AUTH_V4:6697
AUTH_IRCS_V6=[$AUTH_V6]:6697
AUTH_NETWORK=
AUTH_REAL_CERT_MOUNT=
AUTH_DOMAIN=http://auth.dev.pico.sh:3006
AUTH_ISSUER=pico.sh
AUTH_WEB_PORT=3000
