version: "3.8"
services:
  postgres:
    env_file:
      - .env
    ports:
      - "5432:5432"
  minio:
    env_file:
      - .env
    ports:
      - "9000:9000"
      - "9001:9001"
  lists-web:
    build:
      args:
        APP: lists
      target: release-web
    env_file:
      - .env
    ports:
      - "3000:3000"
  lists-ssh:
    build:
      args:
        APP: lists
      target: release-ssh
    env_file:
      - .env
    volumes:
      - ./data/lists-ssh/data:/app/ssh_data
    ports:
      - "2220:2222"
  pastes-web:
    build:
      args:
        APP: pastes
      target: release-web
    env_file:
      - .env
    ports:
      - "3001:3000"
  pastes-ssh:
    build:
      args:
        APP: pastes
      target: release-ssh
    env_file:
      - .env
    volumes:
      - ./data/pastes-ssh/data:/app/ssh_data
    ports:
      - "2221:2222"
  prose-web:
    build:
      args:
        APP: prose
      target: release-web
    env_file:
      - .env
    ports:
      - "3002:3000"
  prose-ssh:
    build:
      args:
        APP: prose
      target: release-ssh
    env_file:
      - .env
    volumes:
      - ./data/prose-ssh/data:/app/ssh_data
    ports:
      - "2222:2222"
  imgs-web:
    build:
      args:
        APP: imgs
      target: release-web
    env_file:
      - .env
    volumes:
      - ./data/imgs-storage/data:/app/.storage
    ports:
      - "3003:3000"
  imgs-ssh:
    build:
      args:
        APP: imgs
      target: release-ssh
    env_file:
      - .env
    volumes:
      - ./data/imgs-storage/data:/app/.storage
      - ./data/imgs-ssh/data:/app/ssh_data
    ports:
      - "2223:2222"
  pgs-web:
    build:
      args:
        APP: pgs
      target: release-web
    env_file:
      - .env
    volumes:
      - ./data/pgs-storage/data:/app/.storage
    ports:
      - "3003:3000"
  pgs-ssh:
    build:
      args:
        APP: pgs
      target: release-ssh
    env_file:
      - .env
    volumes:
      - ./data/pgs-storage/data:/app/.storage
      - ./data/pgs-ssh/data:/app/ssh_data
    ports:
      - "2223:2222"
  feeds-web:
    build:
      args:
        APP: feeds
      target: release-web
    env_file:
      - .env
    ports:
      - "3004:3000"
  feeds-ssh:
    build:
      args:
        APP: feeds
      target: release-ssh
    env_file:
      - .env
    volumes:
      - ./data/feeds-ssh/data:/app/ssh_data
    ports:
      - "2224:2222"
