version: "3.8"
services:
  postgres:
    image: postgres
    restart: always
    profiles:
      - db
      - all
  minio:
    image: quay.io/minio/minio
    command: server /data --console-address ":9001"
    restart: always
    profiles:
      - db
      - all
  lists-web:
    image: ghcr.io/picosh/pico/lists-web:latest
    restart: always
    profiles:
      - lists
      - services
      - all
  lists-ssh:
    image: ghcr.io/picosh/pico/lists-ssh:latest
    restart: always
    profiles:
      - lists
      - services
      - all
  pastes-web:
    image: ghcr.io/picosh/pico/pastes-web:latest
    restart: always
    profiles:
      - pastes
      - services
      - all
  pastes-ssh:
    image: ghcr.io/picosh/pico/pastes-ssh:latest
    restart: always
    profiles:
      - pastes
      - services
      - all
  prose-web:
    image: ghcr.io/picosh/pico/prose-web:latest
    restart: always
    profiles:
      - prose
      - services
      - all
  prose-ssh:
    image: ghcr.io/picosh/pico/prose-ssh:latest
    restart: always
    profiles:
      - prose
      - services
      - all
  imgs-web:
    image: ghcr.io/picosh/pico/imgs-web:latest
    restart: always
    profiles:
      - imgs
      - services
      - all
  imgs-ssh:
    image: ghcr.io/picosh/pico/imgs-ssh:latest
    restart: always
    profiles:
      - imgs
      - services
      - all
