version: "3.8"
services:
  postgres:
    env_file:
      - .env.prod
    volumes:
      - ./data/postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    command: -N 1024 -B 4096MB
  minio-caddy:
    image: ghcr.io/picosh/pico/caddy:latest
    restart: always
    env_file:
      - .env.prod
    environment:
      APP_DOMAIN: pico.sh
      APP_EMAIL: ${MINIO_EMAIL:-hello@pico.sh}
    volumes:
      - ${MINIO_CADDYFILE}:/etc/caddy/Caddyfile
      - ./data/minio-caddy/data:/data
      - ./data/minio-caddy/config:/config
    ports:
      - "80:80"
      - "443:443"
    profiles:
      - db
      - all
  minio:
    env_file:
      - .env.prod
    volumes:
      - ./data/minio-data:/data
  registry:
    env_file:
      - .env.prod
    volumes:
      - ./imgs/registry.yml:/etc/docker/registry/config.yml
  imgproxy:
    env_file:
      - .env.prod
    volumes:
      - ./data/imgs-storage/data:/storage/imgs
      - ./data/pgs-storage/data:/storage/pgs
  lists-caddy:
    image: ghcr.io/picosh/pico/caddy:latest
    restart: always
    networks:
      - lists
    env_file:
      - .env.prod
    environment:
      APP_DOMAIN: ${LISTS_DOMAIN:-lists.sh}
      APP_EMAIL: ${LISTS_EMAIL:-hello@pico.sh}
    volumes:
      - ${LISTS_CADDYFILE}:/etc/caddy/Caddyfile
      - ./data/lists-caddy/data:/data
      - ./data/lists-caddy/config:/config
    ports:
      - "${LISTS_HTTPS_V4:-443}:443"
      - "${LISTS_HTTP_V4:-80}:80"
      - "${LISTS_HTTPS_V6:-[::1]:443}:443"
      - "${LISTS_HTTP_V6:-[::1]:80}:80"
    profiles:
      - lists
      - caddy
      - all
  lists-web:
    networks:
      lists:
        aliases:
          - web
    env_file:
      - .env.prod
  lists-ssh:
    networks:
      lists:
        aliases:
          - ssh
    env_file:
      - .env.prod
    volumes:
      - ./data/lists-ssh/data:/app/ssh_data
    ports:
      - "${LISTS_SSH_V4:-22}:2222"
      - "${LISTS_SSH_V6:-[::1]:22}:2222"
  pastes-caddy:
    image: ghcr.io/picosh/pico/caddy:latest
    restart: always
    networks:
      - pastes
    env_file:
      - .env.prod
    environment:
      APP_DOMAIN: ${PASTES_DOMAIN:-pastes.sh}
      APP_EMAIL: ${PASTES_EMAIL:-hello@pico.sh}
    volumes:
      - ${PASTES_CADDYFILE}:/etc/caddy/Caddyfile
      - ./data/pastes-caddy/data:/data
      - ./data/pastes-caddy/config:/config
    ports:
      - "${PASTES_HTTPS_V4:-443}:443"
      - "${PASTES_HTTP_V4:-80}:80"
      - "${PASTES_HTTPS_V6:-[::1]:443}:443"
      - "${PASTES_HTTP_V6:-[::1]:80}:80"
    profiles:
      - pastes
      - caddy
      - all
  pastes-web:
    networks:
      pastes:
        aliases:
          - web
    env_file:
      - .env.prod
  pastes-ssh:
    networks:
      pastes:
        aliases:
          - ssh
    env_file:
      - .env.prod
    volumes:
      - ./data/pastes-ssh/data:/app/ssh_data
    ports:
      - "${PASTES_SSH_V4:-22}:2222"
      - "${PASTES_SSH_V6:-[::1]:22}:2222"
  prose-caddy:
    image: ghcr.io/picosh/pico/caddy:latest
    restart: always
    networks:
      - prose
    env_file:
      - .env.prod
    environment:
      APP_DOMAIN: ${PROSE_DOMAIN:-prose.sh}
      APP_EMAIL: ${PROSE_EMAIL:-hello@pico.sh}
    volumes:
      - ${PROSE_CADDYFILE}:/etc/caddy/Caddyfile
      - ./data/prose-caddy/data:/data
      - ./data/prose-caddy/config:/config
    ports:
      - "${PROSE_HTTPS_V4:-443}:443"
      - "${PROSE_HTTP_V4:-80}:80"
      - "${PROSE_HTTPS_V6:-[::1]:443}:443"
      - "${PROSE_HTTP_V6:-[::1]:80}:80"
    profiles:
      - prose
      - caddy
      - all
  prose-web:
    networks:
      prose:
        aliases:
          - web
    env_file:
      - .env.prod
  prose-ssh:
    networks:
      prose:
        aliases:
          - ssh
    env_file:
      - .env.prod
    volumes:
      - ./data/prose-ssh/data:/app/ssh_data
    ports:
      - "${PROSE_SSH_V4:-22}:2222"
      - "${PROSE_SSH_V6:-[::1]:22}:2222"
  imgs-caddy:
    image: ghcr.io/picosh/pico/caddy:latest
    restart: always
    networks:
      - imgs
    env_file:
      - .env.prod
    environment:
      APP_DOMAIN: ${IMGS_DOMAIN:-imgs.sh}
      APP_EMAIL: ${IMGS_EMAIL:-hello@pico.sh}
    volumes:
      - ${IMGS_CADDYFILE}:/etc/caddy/Caddyfile
      - ./data/imgs-caddy/data:/data
      - ./data/imgs-caddy/config:/config
    ports:
      - "${IMGS_HTTPS_V4:-443}:443"
      - "${IMGS_HTTP_V4:-80}:80"
      - "${IMGS_HTTPS_V6:-[::1]:443}:443"
      - "${IMGS_HTTP_V6:-[::1]:80}:80"
    profiles:
      - imgs
      - caddy
      - all
  imgs-web:
    networks:
      imgs:
        aliases:
          - web
    env_file:
      - .env.prod
    volumes:
      - ./data/storage/data:/app/.storage
  imgs-ssh:
    networks:
      imgs:
        aliases:
          - ssh
    env_file:
      - .env.prod
    volumes:
      - ./data/storage/data:/app/.storage
      - ./data/imgs-ssh/data:/app/ssh_data
      - ./data/imgs-tmp:/tmp
    ports:
      - "${IMGS_SSH_V4:-22}:2222"
      - "${IMGS_SSH_V6:-[::1]:22}:2222"
  pgs-caddy:
    image: ghcr.io/picosh/pico/caddy:latest
    restart: always
    networks:
      - pgs
    env_file:
      - .env.prod
    environment:
      APP_DOMAIN: ${PGS_DOMAIN:-pgs.sh}
      APP_EMAIL: ${PGS_EMAIL:-hello@pico.sh}
    volumes:
      - ${PGS_CADDYFILE}:/etc/caddy/Caddyfile
      - ./data/pgs-caddy/data:/data
      - ./data/pgs-caddy/config:/config
    ports:
      - "${PGS_HTTPS_V4:-443}:443"
      - "${PGS_HTTP_V4:-80}:80"
      - "${PGS_HTTPS_V6:-[::1]:443}:443"
      - "${PGS_HTTP_V6:-[::1]:80}:80"
    profiles:
      - pgs
      - caddy
      - all
  pgs-web:
    networks:
      pgs:
        aliases:
          - web
    env_file:
      - .env.prod
    volumes:
      - ./data/storage/data:/app/.storage
  pgs-ssh:
    networks:
      pgs:
        aliases:
          - ssh
    env_file:
      - .env.prod
    volumes:
      - ./data/storage/data:/app/.storage
      - ./data/pgs-ssh/data:/app/ssh_data
      - ./data/tmp:/tmp
    ports:
      - "${PGS_SSH_V4:-22}:2222"
      - "${PGS_SSH_V6:-[::1]:22}:2222"
  feeds-caddy:
    image: ghcr.io/picosh/pico/caddy:latest
    restart: always
    networks:
      - feeds
    env_file:
      - .env.prod
    environment:
      APP_DOMAIN: ${FEEDS_DOMAIN:-feeds.sh}
      APP_EMAIL: ${FEEDS_EMAIL:-hello@pico.sh}
    volumes:
      - ${FEEDS_CADDYFILE}:/etc/caddy/Caddyfile
      - ./data/feeds-caddy/data:/data
      - ./data/feeds-caddy/config:/config
    ports:
      - "${FEEDS_HTTPS_V4:-443}:443"
      - "${FEEDS_HTTP_V4:-80}:80"
      - "${FEEDS_HTTPS_V6:-[::1]:443}:443"
      - "${FEEDS_HTTP_V6:-[::1]:80}:80"
    profiles:
      - feeds
      - caddy
      - all
  feeds-web:
    networks:
      feeds:
        aliases:
          - web
    env_file:
      - .env.prod
  feeds-ssh:
    networks:
      feeds:
        aliases:
          - ssh
    env_file:
      - .env.prod
    volumes:
      - ./data/feeds-ssh/data:/app/ssh_data
    ports:
      - "${FEEDS_SSH_V4:-22}:2222"
      - "${FEEDS_SSH_V6:-[::1]:22}:2222"

networks:
  default:
    ipam:
      driver: default
      config:
        - subnet: "172.101.0.0/24"
  prose:
    driver_opts:
      com.docker.network.bridge.name: prose
    ipam:
      config:
        - subnet: 172.18.0.0/16
  pastes:
    driver_opts:
      com.docker.network.bridge.name: pastes
    ipam:
      config:
        - subnet: 172.19.0.0/16
  lists:
    driver_opts:
      com.docker.network.bridge.name: lists
    ipam:
      config:
        - subnet: 172.20.0.0/16
  imgs:
    driver_opts:
      com.docker.network.bridge.name: imgs
    ipam:
      config:
        - subnet: 172.21.0.0/16
  feeds:
    driver_opts:
      com.docker.network.bridge.name: feeds
    ipam:
      config:
        - subnet: 172.22.0.0/16
  pgs:
    driver_opts:
      com.docker.network.bridge.name: pgs
    ipam:
      config:
        - subnet: 172.23.0.0/16
