services:
  postgres:
    image: postgres:14
    restart: always
    profiles:
      - db
      - all
  minio:
    image: quay.io/minio/minio
    command: server /data --console-address ":9001"
    restart: always
    profiles:
      - db
      - all
  garage:
    image: dxflrs/garage:v2.0.0-beta1
    restart: always
    volumes:
      - ./garage/config.toml:/etc/garage.toml:ro
    profiles:
      - db
      - all
  imgproxy:
    image: darthsim/imgproxy:latest
    restart: always
    profiles:
      - db
      - all
  pipemgr:
    image: ghcr.io/picosh/pipemgr:latest
    command: -command "pub metric-drain -b=false"
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 2s
      timeout: 5s
      retries: 5
      start_period: 1s
    profiles:
      - all
      - log
  pastes-web:
    image: ghcr.io/picosh/pico/pastes-web:latest
    restart: always
    profiles:
      - pastes
      - services
      - all
  pastes-ssh:
    image: ghcr.io/picosh/pico/pastes-ssh:latest
    restart: always
    profiles:
      - pastes
      - services
      - all
  pipe-web:
    image: ghcr.io/picosh/pico/pipe-web:latest
    restart: always
    profiles:
      - pipe
      - services
      - all
  pipe-ssh:
    image: ghcr.io/picosh/pico/pipe-ssh:latest
    restart: always
    profiles:
      - pipe
      - services
      - all
  prose-web:
    image: ghcr.io/picosh/pico/prose-web:latest
    restart: always
    profiles:
      - prose
      - services
      - all
  prose-ssh:
    image: ghcr.io/picosh/pico/prose-ssh:latest
    restart: always
    profiles:
      - prose
      - services
      - all
  pgs-web:
    image: ghcr.io/picosh/pico/pgs-web:latest
    restart: always
    profiles:
      - pgs
      - services
      - all
  pgs-ssh:
    image: ghcr.io/picosh/pico/pgs-ssh:latest
    restart: always
    profiles:
      - pgs
      - services
      - all
  feeds-web:
    image: ghcr.io/picosh/pico/feeds-web:latest
    restart: always
    profiles:
      - feeds
      - services
      - all
  feeds-ssh:
    image: ghcr.io/picosh/pico/feeds-ssh:latest
    restart: always
    profiles:
      - feeds
      - services
      - all
  pico-ssh:
    image: ghcr.io/picosh/pico/pico-ssh:latest
    restart: always
    profiles:
      - pico
      - services
      - all
  auth-web:
    image: ghcr.io/picosh/pico/auth-web:latest
    restart: always
    profiles:
      - auth
      - services
      - all
  bouncer:
    image: ghcr.io/picosh/pico/bouncer:latest
    restart: always
    profiles:
      - bouncer
      - services
      - all
