version: "3.8"
services:
  auth-web:
    networks:
      - ${AUTH_NETWORK}
    env_file:
      - .env.prod
  bouncer-prom-proxy:
    network_mode: service:bouncer
    environment:
      - PROXY_URL=http://localhost:9000
    image: schmailzl/simple-reverse-proxy
  bouncer:
    networks:
      - ${AUTH_NETWORK}
    env_file:
      - .env.prod
    ports:
      - "${AUTH_IRCS_V4:-6697}:6697"
      - "${AUTH_IRCS_V6:-[::1]:6697}:6697"
      - "${AUTH_IDENTD_V4:-113}:113"
      - "${AUTH_IDENTD_V6:-[::1]:113}:113"
    volumes:
      - ./data/run:/run/soju
      - ./data/bouncer:/app/db
      - ./data/certs:/certs
      - ${AUTH_REAL_CERT_MOUNT}
