version: "3.8"
services:
  postgres:
    image: postgres:14
    restart: always
    profiles:
      - db
      - all
  minio:
    image: quay.io/minio/minio
    command: server /data --console-address ":9001"
    restart: always
    profiles:
      - db
      - all
  registry:
    image: registry
    restart: always
    profiles:
      - imgs
      - services
      - all
    environment:
      REGISTRY_STORAGE_S3_ACCESSKEY: ${MINIO_ROOT_USER}
      REGISTRY_STORAGE_S3_SECRETKEY: ${MINIO_ROOT_PASSWORD}
  imgproxy:
    image: darthsim/imgproxy:latest
    restart: always
    profiles:
      - db
      - all
  pastes-web:
    image: ghcr.io/picosh/pico/pastes-web:latest
    restart: always
    profiles:
      - pastes
      - services
      - all
  pastes-ssh:
    image: ghcr.io/picosh/pico/pastes-ssh:latest
    restart: always
    profiles:
      - pastes
      - services
      - all
  pipe-web:
    image: ghcr.io/picosh/pico/pipe-web:latest
    restart: always
    profiles:
      - pipe
      - services
      - all
  pipe-ssh:
    image: ghcr.io/picosh/pico/pipe-ssh:latest
    restart: always
    profiles:
      - pipe
      - services
      - all
  prose-web:
    image: ghcr.io/picosh/pico/prose-web:latest
    restart: always
    profiles:
      - prose
      - services
      - all
  prose-ssh:
    image: ghcr.io/picosh/pico/prose-ssh:latest
    restart: always
    profiles:
      - prose
      - services
      - all
  imgs-web:
    image: ghcr.io/picosh/pico/imgs-web:latest
    restart: always
    profiles:
      - imgs
      - services
      - all
  imgs-ssh:
    image: ghcr.io/picosh/pico/imgs-ssh:latest
    restart: always
    profiles:
      - imgs
      - services
      - all
  pgs-web:
    image: ghcr.io/picosh/pico/pgs-web:latest
    restart: always
    profiles:
      - pgs
      - services
      - all
  pgs-ssh:
    image: ghcr.io/picosh/pico/pgs-ssh:latest
    restart: always
    profiles:
      - pgs
      - services
      - all
  feeds-web:
    image: ghcr.io/picosh/pico/feeds-web:latest
    restart: always
    profiles:
      - feeds
      - services
      - all
  feeds-ssh:
    image: ghcr.io/picosh/pico/feeds-ssh:latest
    restart: always
    profiles:
      - feeds
      - services
      - all
  pico-ssh:
    image: ghcr.io/picosh/pico/pico-ssh:latest
    restart: always
    profiles:
      - pico
      - services
      - all
  auth-web:
    image: ghcr.io/picosh/pico/auth-web:main
    restart: always
    profiles:
      - auth
      - services
      - all
  bouncer:
    image: ghcr.io/picosh/pico/bouncer:main
    restart: always
    profiles:
      - bouncer
      - services
      - all
