{{template "base" .}}
{{define "body"}}
# {{.Header.Title}}
{{.Header.Bio}}
{{range .Header.Nav}}
{{if .IsURL}}=> {{.URL}} {{.Value}}{{end}}
{{- end}}
=> {{.RSSURL}} rss

{{- if .Readme.HasItems}}

---
{{- template "list" .Readme -}}
{{- end}}
{{- range .Posts}}
=> {{.URL}} {{.Title}} ({{.UpdatedTimeAgo}})
{{- end}}
{{- template "footer" . -}}
{{end}}
