{{define "marketing-footer"}}
---

Built and maintained by pico.sh
=> https://pico.sh

=> / home
=> /spec spec
=> /ops ops
=> /help help
=> /rss rss
=> https://github.com/neurosnap/lists.sh source
{{end}}
