body {
  max-width: 720px;
}

table {
  display: block;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
  border-spacing: 10px;
  border-collapse: separate;
}

.post-date {
  width: 130px;
}

.layout-aside {
  max-width: 50rem;
}

.layout-aside aside {
  width: 200px;
}

.layout-aside img {
  border-radius: 5px;
}

#readme {
  display: none;
}

@media only screen and (max-width: 600px) {
  .layout-aside main {
    flex-direction: column;
  }

  aside {
    display: none;
  }

  #readme {
    display: block;
  }
}
