table {
  display: block;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
  border-spacing: 10px;
  border-collapse: separate;
}

.md h1,
.md h2,
.md h3,
.md h4 {
  margin: 1.5rem 0;
  font-weight: bold;
  border-bottom: 2px solid var(--grey);
  padding-bottom: 15px;
}

.md h1 {
  font-size: 1.88rem;
  line-height: 1.15;
}

.md h2 {
  font-size: 1.5rem;
  line-height: 1.15;
}

.md h3 {
  font-size: 1.13rem;
}

.md h4 {
  font-size: 1rem;
}
