{{template "base" .}}

{{define "title"}}{{.Site.Domain}} -- a blog platform for hackers{{end}}

{{define "meta"}}
<meta name="description" content="a blog platform for hackers" />

<meta property="og:type" content="website">
<meta property="og:site_name" content="{{.Site.Domain}}">
<meta property="og:url" content="https://{{.Site.Domain}}">
<meta property="og:title" content="{{.Site.Domain}}">
<meta property="og:description" content="a blog platform for hackers">

<meta name="twitter:card" content="summary" />
<meta property="twitter:url" content="https://{{.Site.Domain}}">
<meta property="twitter:title" content="{{.Site.Domain}}">
<meta property="twitter:description" content="a blog platform for hackers">
<meta name="twitter:image" content="https://{{.Site.Domain}}/card.png" />
<meta name="twitter:image:src" content="https://{{.Site.Domain}}/card.png" />

<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta itemprop="image" content="https://{{.Site.Domain}}/card.png" />
<meta property="og:image" content="https://{{.Site.Domain}}/card.png" />
{{end}}

{{define "attrs"}}{{end}}

{{define "body"}}
<header class="text-center">
    <h1 class="text-2xl font-bold">{{.Site.Domain}}</h1>
    <p class="text-lg">a blog platform for hackers</p>
    <p class="text-lg"><a href="/read">discover</a> some interesting posts</p>
    <hr />
</header>

<main>
    <section>
        <h2 class="text-lg font-bold">Create your account with Public-Key Cryptography</h2>
        <p>We don't want your email address.</p>
        <p>To get started, simply ssh into our content management system:</p>
        <pre>ssh new@{{.Site.Domain}}</pre>
        <div class="text-sm font-italic note">
            note: <code>new</code> is a special username that will always send you to account
            creation, even with multiple accounts associated with your key-pair.
        </div>
        <div class="text-sm font-italic note">
            note: getting permission denied? <a href="/help#permission-denied">read this</a>
        </div>
        <p>
            After that, just set a username and you're ready to start writing! When you SSH
            again, use your username that you set in the CMS.
        </p>
    </section>

    <section>
        <h2 class="text-lg font-bold">You control the source files</h2>
        <p>Create posts using your favorite editor in plain text files.</p>
        <code>~/blog/hello-world.md</code>
        <pre># hello world!

This is my first blog post.

Check out some resources:

- [pico.sh](https://pico.sh)
- [lists.sh](https://lists.sh)
- [antoniomika](https://antoniomika.me)
- [erock.io](https://erock.io)

Cya!
</pre>
    </section>

    <section>
        <h2 class="text-lg font-bold">Upload images for your blog</h2>
        <p>
            We also support image uploading (jpg, png, gif, webp, svg).  Simply upload your
            images alongside your markdown files and then reference them from root `/`:
        </p>
        <pre>---
title: hello world!
---

        ![profile pic](/profile.jpg)</pre>
        <pre>rsync ~/blog/hello-world.md ~/blog/profile.jpg {{.Site.Domain}}:/</pre>
        <p>Read more about image uploading at [imgs.sh](https://imgs.sh) and our [help page](/help)</p>
    </section>

    <section>
        <h2 class="text-lg font-bold">Publish your posts with one command</h2>
        <p>
            When your post is ready to be published, copy the file to our server with a familiar
            command:
        </p>
        <pre>rsync ~/blog/*.md {{.Site.Domain}}:/</pre>
        <p>We'll either create or update the posts for you.</p>
    </section>

    <section>
        <h2 class="text-lg font-bold">Terminal workflow without installation</h2>
        <p>
            Since we are leveraging tools you already have on your computer
            (<code>ssh</code> and <code>rsync</code>), there is nothing to install.
        </p>
        <p>
            This provides the convenience of a web app, but from inside your terminal!
        </p>
    </section>

    <section>
        <h2 class="text-lg font-bold">Use <code>sftp</code> to manage your posts</h2>
        <p>
          FTP is back in style.  List, upload, and delete posts via <code>sftp</code>:
        </p>
        <pre>sftp {{.Site.Domain}}
sftp> ls
hello-world.md
sftp> rm hello-world.md
sftp> put hello-world.md</pre>
    </section>

    <section>
        <h2 class="text-lg font-bold">Features</h2>
        <ul>
            <li>Github flavor markdown</li>
            <li><a href="/help#custom-domain">Custom domains</a></li>
            <li>Looks great on any device</li>
            <li>Bring your own editor</li>
            <li>You control the source files</li>
            <li>Terminal workflow with no installation</li>
            <li>Public-key based authentication</li>
            <li>Use sftp to manage blog</li>
            <li>No ads, zero browser-based tracking</li>
            <li>No attempt to identify users</li>
            <li>No platform lock-in</li>
            <li>No javascript</li>
            <li>Subscriptions via RSS</li>
            <li>Minimalist design</li>
            <li>100% open source</li>
        </ul>
    </section>

    <section>
        <h2 class="text-lg font-bold">Philosophy</h2>
        <p>
            The goal of this blogging platform is to make it simple to use the tools you love to
            write and publish your thoughts.  There is no installation, signup is as easy as SSH'ing
            into our CMS, and publishing content is as easy as copying files to our server.
        </p>

        <p>
            If you'd like to read more about our group, please read our profile at <a href="https://pico.sh">pico.sh</a>.
        </p>
    </section>

    <section>
        <h2 class="text-lg font-bold">Roadmap</h2>
        <ol>
            <li>Writing competitions</li>
            <li><a href="/help#hugo-support">Limited compatibility</a> with <a href="https://gohugo.io">hugo</a></li>
        </ol>
    </section>
</main>

{{template "marketing-footer" .}}
{{end}}
