{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}

{{define "meta"}}
{{if .Favicon}}
<link rel="icon" href="{{.Favicon}}">
{{else}}
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
{{end}}

<meta name="description" content="{{.Description}}" />

<meta property="og:type" content="website">
<meta property="og:site_name" content="{{.Site.Domain}}">
<meta property="og:url" content="{{.URL}}">
<meta property="og:title" content="{{.Title}}">
{{if .Description}}<meta property="og:description" content="{{.Description}}">{{end}}

{{if .Image}}
<meta itemprop="image" content="{{.Image}}" />
<meta property="og:image" content="{{.Image}}" />

<meta name="twitter:image" content="{{.Image}}" />
{{else}}
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta itemprop="image" content="https://{{.Site.Domain}}/card.png" />
<meta property="og:image" content="https://{{.Site.Domain}}/card.png" />

<meta name="twitter:image" content="https://{{.Site.Domain}}/card.png" />
{{end}}

{{if .ImageCard}}
<meta property="twitter:card" content="{{.ImageCard}}">
{{else}}
<meta property="twitter:card" content="summary">
{{end}}
<meta property="twitter:url" content="{{.URL}}">
<meta property="twitter:title" content="{{.Title}}">
{{if .Description}}<meta property="twitter:description" content="{{.Description}}">{{end}}

<link rel="stylesheet" href="/syntax.css" />
{{if .HasCSS}}<link rel="stylesheet" href="{{.CssURL}}" />{{end}}
{{end}}

{{define "attrs"}}id="post" class="{{.Slug}}"{{end}}

{{define "body"}}
<header>
    <h1 class="text-2xl font-bold">{{.Title}}</h1>
    <p class="font-bold m-0">
        {{if .Unlisted}} <code>unlisted</code>{{end}}
        <time datetime="{{.PublishAtISO}}">{{.PublishAt}}</time>
        <span>&middot;<span>
        <a href="{{.BlogURL}}">{{.BlogName}}</a></p>
    {{if .Description}}<blockquote class="font-italic">{{.Description}}</blockquote>{{end}}
    <div class="tags">
    {{range .Tags}}
        <a class="tag" href="{{$.BlogURL}}?tag={{.}}">#{{.}}</a>
    {{end}}
    </div>
</header>
<main>
    {{if .Diff}}
    <details>
      <summary>diff</summary>
      <div class="md">{{.Diff}}</div>
    </details>
    {{end}}

    <article class="md">
        {{.Contents}}
        <div id="post-footer" class="box">{{.Footer}}</div>
    </article>
</main>
{{template "footer" .}}
{{end}}
