{{template "base" .}}

{{define "title"}}discover prose -- {{.Site.Domain}}{{end}}

{{define "meta"}}
<meta name="description" content="discover interesting posts" />
<link rel="alternate" href="/rss" type="application/rss+xml" title="RSS feed for prose.sh" />
{{end}}

{{define "attrs"}}{{end}}

{{define "body"}}
<header class="text-center">
    <h1 class="text-2xl font-bold">prose.sh</h1>
    <p class="text-lg">A blog platform for hackers</p>
    <div>
      <a href="https://pico.sh/getting-started" class="btn-link mt inline-block">GET STARTED</a>
    </div>
    <hr />
</header>
<main>
    <div class="flex items-center">
        <div class="font-italic text-sm post-date">popular tags</div>
        <div class="flex-1">
        {{range .Tags}}
        <span class="text-md"><a href="/read?tag={{.}}">#{{.}}</a></span>
        {{end}}
        </div>
    </div>
    {{if .HasFilter}}<a href="/read">clear filter</a>{{end}}

    <div class="mt">
        {{if .PrevPage}}<a href="{{.PrevPage}}">prev</a>{{else}}<span class="text-grey">prev</span>{{end}}
        {{if .NextPage}}<a href="{{.NextPage}}">next</a>{{else}}<span class="text-grey">next</span>{{end}}
    </div>

    {{range .Posts}}
    <article class="my-2">
        <div class="flex items-center">
            <time datetime="{{.PublishAtISO}}" class="font text-sm post-date">{{.PublishAt}}</time>
            <div class="flex-1">
                <span class="text-md"><a href="{{.URL}}">{{.Title}}</a></span>
                <address class="text-sm inline">
                    <a href="{{.BlogURL}}" class="link-grey">({{.Username}})</a>
                </address>
            </div>
        </div>
    </article>
    {{end}}
</main>
{{template "marketing-footer" .}}
{{end}}
