{{template "base" .}}

{{define "title"}}prose.sh -- A blog platform for hackers{{end}}

{{define "meta"}}
<meta name="description" content="A blog platform for hackers" />
<link rel="alternate" href="/rss" type="application/rss+xml" title="RSS feed for prose.sh" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<meta property="og:type" content="website">
<meta property="og:site_name" content="{{.Site.Domain}}">
<meta property="og:url" content="https://{{.Site.Domain}}">
<meta property="og:title" content="{{.Site.Domain}}">
<meta property="og:description" content="A blog platform for hackers">

<meta name="twitter:card" content="summary" />
<meta property="twitter:url" content="https://{{.Site.Domain}}">
<meta property="twitter:title" content="{{.Site.Domain}}">
<meta property="twitter:description" content="A blog platform for hackers">
<meta name="twitter:image" content="https://{{.Site.Domain}}/card.png" />
<meta name="twitter:image:src" content="https://{{.Site.Domain}}/card.png" />

<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta itemprop="image" content="https://{{.Site.Domain}}/card.png" />
<meta property="og:image" content="https://{{.Site.Domain}}/card.png" />

<link rel="stylesheet" href="/smol.css" />
<link rel="stylesheet" href="/main.css" />
{{end}}

{{define "attrs"}}{{end}}

{{define "body"}}
<header class="text-center">
    <h1 class="text-2xl font-bold">prose.sh</h1>
    <p class="text-lg">A blog platform for hackers</p>
    <div>
      <a href="https://pico.sh/prose" class="btn-link mt inline-block">LEARN MORE</a>
    </div>
    <hr />
</header>
<main>
    <div class="flex items-center">
        <div class="font-italic text-sm post-date">popular tags</div>
        <div class="flex-1">
        {{range .Tags}}
        <span class="text-md"><a href="/read?tag={{.}}">#{{.}}</a></span>
        {{end}}
        </div>
    </div>
    {{if .HasFilter}}<a href="/read">clear filter</a>{{end}}

    <div class="mt">
        {{if .PrevPage}}<a href="{{.PrevPage}}">prev</a>{{else}}<span class="text-grey">prev</span>{{end}}
        {{if .NextPage}}<a href="{{.NextPage}}">next</a>{{else}}<span class="text-grey">next</span>{{end}}
    </div>

    {{range .Posts}}
    <article class="my-2">
        <div class="flex items-center">
            <time datetime="{{.PublishAtISO}}" class="font text-sm post-date">{{.PublishAt}}</time>
            <div class="flex-1">
                <span class="text-md"><a href="{{.URL}}">{{.Title}}</a></span>
                <address class="text-sm inline">
                    <a href="{{.BlogURL}}" class="link-grey">({{.Username}})</a>
                </address>
            </div>
        </div>
    </article>
    {{end}}
</main>
{{template "marketing-footer" .}}
{{end}}
