{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}

{{define "meta"}}
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{.Site.Domain}}">
<meta property="og:url" content="{{.URL}}">
<meta property="og:title" content="{{.Title}}">
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta itemprop="image" content="https://{{.Site.Domain}}/card.png" />
<meta property="og:image" content="https://{{.Site.Domain}}/card.png" />

<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="{{.URL}}">
<meta property="twitter:title" content="{{.Title}}">
<meta name="twitter:image" content="https://{{.Site.Domain}}/card.png" />
<meta name="twitter:image:src" content="https://{{.Site.Domain}}/card.png" />

<link rel="stylesheet" href="/syntax.css" />
{{end}}

{{define "attrs"}}id="post"{{end}}

{{define "body"}}
<header>
    <h1 class="text-2xl font-bold transform-none">{{.Title}}</h1>
    <p class="font-bold m-0">
      {{if .Unlisted}} <code>unlisted</code>{{end}}
      <time datetime="{{.PublishAtISO}}">{{.PublishAt}}</time>
      <span> &middot; <span>
      <a href="{{.BlogURL}}">{{.BlogName}}</a>
      <span> &middot; <span>
      <a href="{{.RawURL}}">raw</a>
    </p>
    <p class="font-bold m-0">expires: {{.ExpiresAt}}</p>
    <script>
      function init() {
        const btn = document.querySelector("#copy-btn");
        const res = document.querySelector("#copy-result");
        const text = "{{.Text}}";
        btn.addEventListener("click", () => {
          res.innerHtml = "";
          navigator.clipboard.writeText(text)
            .then(() => res.innerHTML = "success!");
        })
      }
      document.addEventListener("DOMContentLoaded", init);
    </script>
</header>
<main>
    <div class="flex gap items-center">
      <button id="copy-btn" class="btn" style="background-color: transparent;">copy</button>
      <div id="copy-result" class=""></div>
    </div>
    <article>
        {{.Contents}}
    </article>
</main>
{{template "footer" .}}
{{end}}
