{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{template "title" .}}</title>

        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

        <meta name="keywords" content="pubsub, ssh, event, publish, subscribe" />
        {{template "meta" .}}

        <link rel="stylesheet" href="https://pico.sh/smol.css" />
        <script src="/anim.js"></script>
    </head>
    <body {{template "attrs" .}}>{{template "body" .}}</body>
</html>
{{end}}
