{{template "base" .}}

{{define "title"}}{{.Site.Domain}} -- pubsub using ssh{{end}}

{{define "meta"}}
<meta name="description" content="pubsub using ssh" />

<meta property="og:type" content="website">
<meta property="og:site_name" content="{{.Site.Domain}}">
<meta property="og:url" content="https://{{.Site.Domain}}">
<meta property="og:title" content="{{.Site.Domain}}">
<meta property="og:description" content="pubsub using ssh">

<meta name="twitter:card" content="summary" />
<meta property="twitter:url" content="https://{{.Site.Domain}}">
<meta property="twitter:title" content="{{.Site.Domain}}">
<meta property="twitter:description" content="pubsub using ssh">
<meta name="twitter:image" content="https://{{.Site.Domain}}/card.png" />
<meta name="twitter:image:src" content="https://{{.Site.Domain}}/card.png" />

<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta itemprop="image" content="https://{{.Site.Domain}}/card.png" />
<meta property="og:image" content="https://{{.Site.Domain}}/card.png" />
{{end}}

{{define "attrs"}}class="container-sm"{{end}}

{{define "body"}}
<header>
  <h1 class="text-2xl font-bold text-center">pubsub using ssh</h1>
</header>

<hr />

<article>
  <p>
    The simplest authenticated pubsub system.  Send messages through
    user-defined channels.  Channels are private to the authenticated
    ssh user.  The default pubsub model is multicast, meaning a publisher
    (<code>pub</code>) will send its message to all subscribers
    (<code>sub</code>).  Further, the <code>pub</code> will wait for a
    valid <code>sub</code> before exiting.
  </p>
  <div>
    <pre>ssh {{.Site.Domain}} sub mykey</pre>
    <pre>echo "hello world!" | ssh {{.Site.Domain}} pub mykey
# or
cat important.md | ssh {{.Site.Domain}} pub mykey</pre>
  </div>
  <div>
    <p>Compose automated scripts using unix pipes:</p>
    <pre>ssh {{.Site.Domain}} sub "alpine:latest" | docker pull alpine:latest && docker up -d dev</pre>
    <pre>docker build -t alpine:latest . | ssh {{.Site.Domain}} pub "alpine:latest"</pre>
  </div>
  <div class="text-center">
    <a href="https://pico.sh/getting-started" class="btn-link my-2 inline-block">GET STARTED</a>
  </div>
</article>

{{template "marketing-footer" .}}
{{end}}
