{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{template "title" .}}</title>

        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

        <meta name="keywords" content="blog, blogging, write, writing, lists" />
        {{template "meta" .}}

        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>{{template "body" .}}</body>
</html>
{{end}}
