{{define "blog-default"}}
<header class="text-center">
    <h1 class="text-2xl font-bold">{{.Header.Title}}</h1>
    {{if .Header.Bio}}<p class="text-lg">{{.Header.Bio}}</p>{{end}}
    <nav>
        {{range .Header.Nav}}
            {{if .IsURL}}
            <a href="{{.URL}}" class="text-md">{{.Value}}</a> |
            {{end}}
        {{end}}
        <a href="{{.RSSURL}}" class="text-md">rss</a>
    </nav>
    <hr />
</header>
<main>
    {{if .Readme.HasItems}}
    <section>
        <article>
            {{template "list" .Readme}}
        </article>
        <hr />
    </section>
    {{end}}

    <section class="posts">
        {{if .HasFilter}}
            <a href="{{.URL}}">clear filters</a>
        {{end}}
        {{range .Posts}}
        <article class="my-2">
            <div class="flex items-center">
                <time datetime="{{.PublishAtISO}}" class="text-sm post-date">{{.PublishAt}}</time>
                <span class="text-lg flex-1"><a href="{{.URL}}">{{.Title}}</a></span>
            </div>
        </article>
        {{end}}
    </section>
</main>
{{end}}
