{{define "blog-aside"}}
<main class="flex">
    <section class="flex-1 mr">
        <div>
            <h1 class="text-2xl font-bold">{{.Header.Title}}</h1>
            {{if .Header.Bio}}<span>{{.Header.Bio}}</span>{{end}}
        </div>

        <div id="readme">
            {{if .Readme.HasItems}}
            <section>
                <article>
                    {{template "list" .Readme}}
                </article>
                <hr />
            </section>
            {{end}}

            <div>
                {{range .Header.Nav}}
                    {{if .IsURL}}
                    <a href="{{.URL}}" class="text-lg">{{.Value}}</a> |
                    {{end}}
                {{end}}
                <a href="{{.RSSURL}}" class="text-lg">rss</a>
            </div>
            <hr />
        </div>

        {{if .HasFilter}}
            <a href={{.URL}}>clear filters</a>
        {{end}}

        <div class="posts">
        {{range .Posts}}
            <article class="my-2">
                <div class="flex items-center">
                    <time datetime="{{.PublishAtISO}}" class="text-sm post-date">{{.PublishdAt}}</time>
                    <span class="text-lg flex-1"><a href="{{.URL}}">{{.Title}}</a></span>
                </div>
            </article>
        {{end}}
        </div>
    </section>

    <aside>
        {{if .Readme.HasItems}}
        <section>
            <article>
                {{template "list" .Readme}}
            </article>
        </section>
        {{end}}

        <nav>
            {{range .Header.Nav}}
                {{if .IsURL}}
                <a href="{{.URL}}" class="text-md">{{.Value}}</a> ·
                {{end}}
            {{end}}
            <a href="{{.RSSURL}}" class="text-md">rss</a>
        </nav>
    </aside>
</main>
{{end}}
