{{template "base" .}}

{{define "title"}}help -- {{.Site.Domain}}{{end}}

{{define "meta"}}
<meta name="description" content="questions and answers" />
{{end}}

{{define "body"}}
<header>
    <h1 class="text-2xl">Need help?</h1>
    <p>Here are some common questions on using this platform that we would like to answer.</p>
</header>
<main>
    <section id="permission-denied">
        <h2 class="text-xl">
            <a href="#permission-denied" rel="nofollow noopener">#</a>
            I get a permission denied when trying to SSH
        </h2>
        <p>
            Unfortunately SHA-2 RSA keys are <strong>not</strong> currently supported.
        </p>
        <p>
            Unfortunately, due to a shortcoming in Go’s x/crypto/ssh package, Soft Serve does
            not currently support access via new SSH RSA keys: only the old SHA-1 ones will work.
            Until we sort this out you’ll either need an SHA-1 RSA key or a key with another
            algorithm, e.g. Ed25519. Not sure what type of keys you have? You can check with the
            following:
        </p>
        <pre>$ find ~/.ssh/id_*.pub -exec ssh-keygen -l -f {} \;</pre>
        <p>If you’re curious about the inner workings of this problem have a look at:</p>
        <ul>
            <li><a href="https://github.com/golang/go/issues/37278">golang/go#37278</a></li>
            <li><a href="https://go-review.googlesource.com/c/crypto/+/220037">go-review</a></li>
            <li><a href="https://github.com/golang/crypto/pull/197">golang/crypto#197</a></li>
        </ul>
    </section>

    <section id="ssh-key">
        <h2 class="text-xl">
            <a href="#ssh-key" rel="nofollow noopener">#</a>
            Generating a new SSH key
        </h2>
        <p>
            <a href="https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent">Github reference</a>
        </p>
        <pre>ssh-keygen -t ed25519 -C "your_email@example.com"</pre>
        <ol>
            <li>When you're prompted to "Enter a file in which to save the key," press Enter. This accepts the default file location.</li>
            <li>At the prompt, type a secure passphrase.</li>
        </ol>
    </section>

    <section id="blog-structure">
        <h2 class="text-xl">
            <a href="#blog-structure" rel="nofollow noopener">#</a>
            What should my blog folder look like?
        </h2>
        <p>
            Currently {{.Site.Domain}} only supports a flat folder structure.  Therefore,
            <code>scp -r</code> is not permitted.  We also only allow <code>.txt</code> files to be
            uploaded.
        </p>
        <p>
            <a href="https://github.com/neurosnap/lists-blog">Here is the source to my blog on this platform</a>
        </p>
        <p>
        Below is an example of what your blog folder should look like:
        </p>
            <pre>blog/
first-post.txt
second-post.txt
third-post.txt</pre>
        </p>
        <p>
            Underscores and hyphens are permitted and will be automatically removed from the title of the list.
        </p>
    </section>

    <section id="post-update">
        <h2 class="text-xl">
            <a href="#post-update" rel="nofollow noopener">#</a>
            How do I update a list?
        </h2>
        <p>
            Updating a list requires that you update the source document and then run the <code>scp</code>
            command again.  If the filename remains the same, then the list will be updated.
        </p>
    </section>

    <section id="post-delete">
        <h2 class="text-xl">
            <a href="#post-delete" rel="nofollow noopener">#</a>
            How do I delete a list?
        </h2>
        <p>
            Because <code>scp</code> does not natively support deleting files, I didn't want to bake
            that behavior into my ssh server.
        </p>

        <p>
            However, if a user wants to delete a post they can delete the contents of the file and
            then upload it to our server.  If the file contains 0 bytes, we will remove the post.
            For example, if you want to delete <code>delete.txt</code> you could:
        </p>

        <pre>
cp /dev/null delete.txt
scp ./delete.txt {{.Site.Domain}}:/</pre>

        <p>
            Alternatively, you can go to <code>ssh {{.Site.Domain}}</code> and select "Manage posts."
            Then you can highlight the post you want to delete and then press "X."  It will ask for
            confirmation before actually removing the list.
        </p>
    </section>

    <section id="blog-upload-single-file">
        <h2 class="text-xl">
            <a href="#blog-upload-single-file" rel="nofollow noopener">#</a>
            When I want to publish a new post, do I have to upload all posts everytime?
        </h2>
        <p>
            Nope!  Just <code>scp</code> the file you want to publish.  For example, if you created
            a new post called <code>taco-tuesday.txt</code> then you would publish it like this:
        </p>
        <pre>scp ./taco-tuesday.txt {{.Site.Domain}}:</pre>
    </section>

    <section id="blog-header">
        <h2 class="text-xl">
            <a href="#blog-header" rel="nofollow noopener">#</a>
            How do I change my blog's name?
        </h2>
        <p>
            All you have to do is create a post titled <code>_header.txt</code> and add some
            information to the list.
        </p>
        <pre>=: title My new blog!
=: description My blog description!
=> https://xyz.com website
=> https://twitter.com/xyz twitter</pre>
        <ul>
            <li><code>title</code> will change your blog name</li>
            <li><code>description</code> will add a blurb right under your blog name (and add meta descriptions)</li>
            <li>The links will show up next to the <code>rss</code> link to your blog
        </ul>
    </section>

    <section id="blog-readme">
        <h2 class="text-xl">
            <a href="#blog-readme" rel="nofollow noopener">#</a>
            How do I add an introduction to my blog?
        </h2>
        <p>
            All you have to do is create a post titled <code>_readme.txt</code> and add some
            information to the list.
        </p>
        <pre>=: list_type none
# Hi my name is Bob!
I like to sing. Dance. And I like to have fun fun fun!</pre>
        <p>
            Whatever is inside the <code>_readme</code> file will get rendered (as a list) right above your
            blog posts. Neat!
        </p>
    </section>

    <section id="blog-url">
        <h2 class="text-xl">
            <a href="#blog-url" rel="nofollow noopener">#</a>
            What is my blog URL?
        </h2>
        <pre>https://{username}.{{.Site.Domain}}</pre>
    </section>

    <section id="continuous-deployment">
        <h2 class="text-xl">
            <a href="#continuous-deployment" rel="nofollow noopener">#</a>
            How can I automatically publish my post?
        </h2>
        <p>
            There is a github action that we built to make it easy to publish your blog automatically.
        </p>
        <ul>
            <li>
                <a href="https://github.com/marketplace/actions/scp-publish-action">github marketplace</a>
            </li>
            <li>
                <a href="https://github.com/neurosnap/lists-official-blog/blob/main/.github/workflows/publish.yml">example workflow</a>
            </li>
        </ul>
        <p>
            A user also created a systemd task to automatically publish new posts.  <a href="https://github.com/neurosnap/lists.sh/discussions/24">Check out this github discussion for more details.</a>
        </p>
    </section>

    <section id="multiple-accounts">
        <h2 class="text-xl">
            <a href="#multiple-accounts" rel="nofollow noopener">#</a>
            Can I create multiple accounts?
        </h2>
        <p>
           Yes!  You can either a) create a new keypair and use that for authentication
           or b) use the same keypair and ssh into our CMS using our special username
           <code>ssh new@{{.Site.Domain}}</code>.
        </p>
        <p>
            Please note that if you use the same keypair for multiple accounts, you will need to
            always specify the user when logging into our CMS.
        </p>
    </section>
</main>
{{template "marketing-footer" .}}
{{end}}
