{{define "list"}}
<ul style="list-style-type: {{.ListType}};">
    {{range .Items}}
        {{if .IsText}}
            {{if .Value}}
            <li>{{.Value}}</li>
            {{end}}
        {{end}}

        {{if .IsURL}}
        <li><a href="{{.URL}}">{{.Value}}</a></li>
        {{end}}

        {{if .IsImg}}
        <li><img src="{{.URL}}" alt="{{.Value}}" /></li>
        {{end}}

        {{if .IsBlock}}
        <li><blockquote>{{.Value}}</blockquote></li>
        {{end}}

        {{if .IsHeaderOne}}
        </ul><h2 class="text-xl font-bold">{{.Value}}</h2><ul style="list-style-type: {{$.ListType}};">
        {{end}}

        {{if .IsHeaderTwo}}
        </ul><h3 class="text-lg font-bold">{{.Value}}</h3><ul style="list-style-type: {{$.ListType}};">
        {{end}}

        {{if .IsPre}}
        <li><pre>{{.Value}}</pre></li>
        {{end}}
    {{end}}
</ul>
{{end}}
