{{define "marketing-footer"}}
<footer>
    <hr />
    <p class="font-italic">Built and maintained by <a href="https://pico.sh">pico.sh</a>.</p>
    <div>
        <a href="/">home</a> |
        <a href="/spec">spec</a> |
        <a href="/ops">ops</a> |
        <a href="/help">help</a> |
        <a href="/rss">rss</a> |
        <a href="https://git.sr.ht/~erock/lists.sh">source</a>
    </div>
</footer>
{{end}}
