{{template "base" .}}

{{define "title"}}{{.Site.Domain}} -- a microblog for lists{{end}}

{{define "meta"}}
<meta name="description" content="a microblog for lists" />

<meta property="og:type" content="website">
<meta property="og:site_name" content="{{.Site.Domain}}">
<meta property="og:url" content="https://{{.Site.Domain}}">
<meta property="og:title" content="{{.Site.Domain}}">
<meta property="og:description" content="a microblog for lists">

<meta name="twitter:card" content="summary" />
<meta property="twitter:url" content="https://{{.Site.Domain}}">
<meta property="twitter:title" content="{{.Site.Domain}}">
<meta property="twitter:description" content="a microblog for lists">
<meta name="twitter:image" content="https://{{.Site.Domain}}/card.png" />
<meta name="twitter:image:src" content="https://{{.Site.Domain}}/card.png" />

<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta itemprop="image" content="https://{{.Site.Domain}}/card.png" />
<meta property="og:image" content="https://{{.Site.Domain}}/card.png" />
{{end}}

{{define "body"}}
<header class="text-center">
    <h1 class="text-2xl font-bold">{{.Site.Domain}}</h1>
    <p class="text-lg">A microblog for lists</p>
    <p class="text-lg"><a href="/read">discover</a> some interesting lists</p>
    <hr />
</header>

<main>
    <section>
        <h2 class="text-lg font-bold">Examples</h2>
        <p>
            <a href="//hey.{{.Site.Domain}}">official blog</a> |
            <a href="https://git.sr.ht/~erock/lists-official-blog">blog source</a>
        </p>
    </section>

    <section>
        <h2 class="text-lg font-bold">Create your account with Public-Key Cryptography</h2>
        <p>We don't want your email address.</p>
        <p>To get started, simply ssh into our content management system:</p>
        <pre>ssh new@{{.Site.Domain}}</pre>
        <div class="text-sm font-italic note">
            note: <code>new</code> is a special username that will always send you to account
            creation.
        </div>
        <div class="text-sm font-italic note">
            note: getting permission denied? <a href="/help#permission-denied">read this</a>
        </div>
        <p>
            After that, just set a username and you're ready to start writing! When you SSH
            again, use your username that you set in the CMS.
        </p>
    </section>

    <section>
        <h2 class="text-lg font-bold">You control the source files</h2>
        <p>Create lists using your favorite editor in plain text files.</p>
        <code>~/blog/days-in-week.txt</code>
        <pre>Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday</pre>
    </section>

    <section>
        <h2 class="text-lg font-bold">Publish your posts with one command</h2>
        <p>
            When your post is ready to be published, copy the file to our server with a familiar
            command:
        </p>
        <pre>scp ~/blog/*.txt {{.Site.Domain}}:/</pre>
        <p>We'll either create or update the lists for you.</p>
    </section>

    <section>
        <h2 class="text-lg font-bold">Terminal workflow without installation</h2>
        <p>
            Since we are leveraging tools you already have on your computer
            (<code>ssh</code> and <code>scp</code>), there is nothing to install.
        </p>
        <p>
            This provides the convenience of a web app, but from inside your terminal!
        </p>
    </section>

    <section>
        <h2 class="text-lg font-bold">Plain text format</h2>
        <p>A simple specification that is flexible and with no frills.</p>
        <p><a href="/spec">specification</a></p>
    </section>

    <section>
        <h2 class="text-lg font-bold">Features</h2>
        <ul>
            <li>Just lists</li>
            <li>Looks great on any device</li>
            <li>Bring your own editor</li>
            <li>You control the source files</li>
            <li>Terminal workflow with no installation</li>
            <li>Public-key based authentication</li>
            <li>No ads, zero browser-based tracking</li>
            <li>No platform lock-in</li>
            <li>No javascript</li>
            <li>Subscriptions via RSS</li>
            <li>Not a platform for todos</li>
            <li>Minimalist design</li>
            <li>100% open source</li>
        </ul>
    </section>

    <section>
        <h2 class="text-lg font-bold">Philosophy</h2>
        <p>
            I love writing lists.  I think restricting writing to a set of lists can really
            help improve clarity in thought.  The goal of this blogging platform is to make it
            simple to use the tools you love to write and publish lists.  There is no installation,
            signup is as easy as SSH'ing into our CMS, and publishing content is as easy as
            copying files to our server.
        </p>
        <p>
            Another goal of this microblog platform is to satisfy my own needs.  I like to
            write and share lists with people because I find it's one of the best way to disseminate
            knowledge.  Whether it's a list of links or a list of paragraphs, writing in lists is
            very satisfying and I welcome you to explore it on this site!
        </p>
        <p>
            Other blogging platforms support writing lists, but they don't
            <span class="font-bold">emphasize</span> them.  Writing lists is pretty popular
            on Twitter, but discoverability is terrible.  Other blogging platforms focus on prose,
            but there really is nothing out there catered specifically for lists ... until now.
        </p>
    </section>

    <section>
        <h2 class="text-lg font-bold">Roadmap</h2>
        <ol>
            <li>Feature complete?</li>
        </ol>
    </section>
</main>

{{template "marketing-footer" .}}
{{end}}
