{{template "base" .}}

{{define "title"}}operations -- {{.Site.Domain}}{{end}}

{{define "meta"}}
<meta name="description" content="{{.Site.Domain}} operations" />
{{end}}

{{define "body"}}
<header>
    <h1 class="text-2xl">Operations</h1>
    <ul>
        <li><a href="/privacy">privacy</a></li>
        <li><a href="/transparency">transparency</a></li>
    </ul>
</header>
<main>
    <section>
        <h2 class="text-xl">Purpose</h2>
        <p>
            {{.Site.Domain}} exists to allow people to create and share their lists
            without the need to set up their own server or be part of a platform
            that shows ads or tracks its users.
        </p>
    </section>
    <section>
        <h2 class="text-xl">Ethics</h2>
        <p>We are committed to:</p>
        <ul>
            <li>No browser-based tracking of visitor behavior.</li>
            <li>No attempt to identify users.</li>
            <li>Never sell any user or visitor data.</li>
            <li>No ads — ever.</li>
        </ul>
    </section>
    <section>
        <h2 class="text-xl">Code of Content Publication</h2>
        <p>
            Content in {{.Site.Domain}} blogs is unfiltered and unmonitored. Users are free to publish any
            combination of words and pixels except for: content of animosity or disparagement of an
            individual or a group on account of a group characteristic such as race, color, national
            origin, sex, disability, religion, or sexual orientation, which will be taken down
            immediately.
        </p>
        <p>
            If one notices something along those lines in a blog please let us know at
            <a href="mailto:{{.Site.Email}}">{{.Site.Email}}</a>.
        </p>
    </section>
    <section>
        <h2 class="text-xl">Liability</h2>
        <p>
            The user expressly understands and agrees that Eric Bower, the operator of this website
            shall not be liable, in law or in equity, to them or to any third party for any direct,
            indirect, incidental, lost profits, special, consequential, punitive or exemplary damages.
        </p>
    </section>
    <section>
        <h2 class="text-xl">Analytics</h2>
        <p>
            We are committed to zero browser-based tracking or trying to identify visitors.  This
            means we do not try to understand the user based on cookies or IP address.  We do not
            store personally identifiable information.
        </p>
        <p>
            However, in order to provide a better service, we do have some analytics on posts.
            List of metrics we track for posts:
        </p>
        <ul>
            <li>anonymous view counts</li>
        </ul>
        <p>
            We might also inspect the headers of HTTP requests to determine some tertiary information
            about the request.  For example we might inspect the <code>User-Agent</code> or
            <code>Referer</code> to filter out requests from bots.
        </p>
    </section>
    <section>
        <h2 class="text-xl">Account Terms</h2>
        <p>
            <ul>
                <li>
                    The user is responsible for all content posted and all actions performed with
                    their account.
                </li>
                <li>
                    We reserve the right to disable or delete a user's account for any reason at
                    any time. We have this clause because, statistically speaking, there will be
                    people trying to do something nefarious.
                </li>
            </ul>
        </p>
    </section>
    <section>
        <h2 class="text-xl">Service Availability</h2>
        <p>
         We provide the {{.Site.Domain}} service on an "as is" and "as available" basis. We do not offer
         service-level agreements but do take uptime seriously.
        </p>
    </section>
    <section>
        <h2 class="text-xl">Contact and Support</h2>
        <p>
            Email us at <a href="mailto:support@{{.Site.Domain}}">support@{{.Site.Domain}}</a>
            with any questions.
        </p>
    </section>
    <section>
        <h2 class="text-xl">Acknowledgments</h2>
        <p>
            {{.Site.Domain}} was inspired by <a href="https://mataroa.blog">Mataroa Blog</a>
            and <a href="https://bearblog.dev/">Bear Blog</a>.
        </p>
        <p>
            {{.Site.Domain}} is built with many open source technologies.
        </p>
        <p>
            In particular we would like to thank:
        </p>
        <ul>
            <li>
                <span>The </span>
                <a href="https://charm.sh">charm.sh</a>
                <span> community</span>
            </li>
            <li>
                <span>The </span>
                <a href="https://go.dev">golang</a>
                <span> community</span>
            </li>
            <li>
                <span>The </span>
                <a href="https://www.postgresql.org/">postgresql</a>
                <span> community</span>
            </li>
            <li>
                <span>The </span>
                <a href="https://github.com/caddyserver/caddy">caddy</a>
                <span> community</span>
            </li>
        </ul>
    </section>
</main>
{{template "marketing-footer" .}}
{{end}}
