{{template "base" .}}

{{define "title"}}privacy -- {{.Site.Domain}}{{end}}

{{define "meta"}}
<meta name="description" content="{{.Site.Domain}} privacy policy" />
{{end}}

{{define "body"}}
<header>
    <h1 class="text-2xl">Privacy</h1>
    <p>Details on our privacy and security approach.</p>
</header>
<main>
    <section>
        <h2 class="text-xl">Account Data</h2>
        <p>
            In order to have a functional account at {{.Site.Domain}}, we need to store
            your public key.  That is the only piece of information we record for a user.
        </p>
        <p>
            Because we use public-key cryptography, our security posture is a battle-tested
            and proven technique for authentication.
        </p>
    </section>

    <section>
        <h2 class="text-xl">Third parties</h2>
        <p>
            We have a strong commitment to never share any user data with any third-parties.
        </p>
    </section>

    <section>
        <h2 class="text-xl">Service Providers</h2>
        <ul>
            <li>
                <span>We host our server on </span>
                <a href="https://digitalocean.com">digital ocean</a>
            </li>
        </ul>
    </section>

    <section>
        <h2 class="text-xl">Cookies</h2>
        <p>
            We do not use any cookies, not even account authentication.
        </p>
    </section>
</main>
{{template "marketing-footer" .}}
{{end}}
