{{template "base" .}}

{{define "title"}}discover lists -- {{.Site.Domain}}{{end}}

{{define "meta"}}
<meta name="description" content="discover interesting lists" />
{{end}}

{{define "body"}}
<header class="text-center">
    <h1 class="text-2xl font-bold">read</h1>
    <p class="text-lg">recently updated lists</p>
    <hr />
</header>
<main>
    <div class="my">
        {{if .PrevPage}}<a href="{{.PrevPage}}">prev</a>{{else}}<span class="text-grey">prev</span>{{end}}
        {{if .NextPage}}<a href="{{.NextPage}}">next</a>{{else}}<span class="text-grey">next</span>{{end}}
    </div>
    {{range .Posts}}
    <article>
        <div class="flex items-center">
            <time datetime="{{.UpdatedAtISO}}" class="font-italic text-sm post-date">{{.UpdatedTimeAgo}}</time>
            <div class="flex-1">
                <h2 class="inline"><a href="{{.URL}}">{{.Title}}</a></h2>
                <address class="text-sm inline">
                    <a href="{{.BlogURL}}" class="link-grey">({{.Username}})</a>
                </address>
            </div>
        </div>
    </article>
    {{end}}
</main>
{{template "marketing-footer" .}}
{{end}}
