{{template "base" .}}

{{define "title"}}transparency -- {{.Site.Domain}}{{end}}

{{define "meta"}}
<meta name="description" content="full transparency of analytics and cost at {{.Site.Domain}}" />
{{end}}

{{define "body"}}
<header>
    <h1 class="text-2xl">Transparency</h1>
    <hr />
</header>
<main>
    <section>
        <h2 class="text-xl">Analytics</h2>
        <p>
            Here are some interesting stats on usage.
        </p>

        <article>
            <h2 class="text-lg">Total users</h2>
            <div>{{.Analytics.TotalUsers}}</div>
        </article>

        <article>
            <h2 class="text-lg">New users in the last month</h2>
            <div>{{.Analytics.UsersLastMonth}}</div>
        </article>

        <article>
            <h2 class="text-lg">Total posts</h2>
            <div>{{.Analytics.TotalPosts}}</div>
        </article>

        <article>
            <h2 class="text-lg">New posts in the last month</h2>
            <div>{{.Analytics.PostsLastMonth}}</div>
        </article>

        <article>
            <h2 class="text-lg">Users with at least one post</h2>
            <div>{{.Analytics.UsersWithPost}}</div>
        </article>
    </section>

    <section>
        <h2 class="text-xl">Service maintenance costs</h2>
        <ul>
            <li>Server $5.00/mo</li>
            <li>Domain name $3.25/mo</li>
            <li>Programmer $0.00/mo</li>
        </ul>
    </section>
</main>
{{template "marketing-footer" .}}
{{end}}
