body {
  max-width: 720px;
}

.post-date {
  width: 130px;
}

.layout-aside {
  max-width: 50rem;
}

.layout-aside aside {
  width: 200px;
}

.layout-aside img {
  border-radius: 5px;
}

#readme {
  display: none;
}

@media only screen and (max-width: 600px) {
  .layout-aside main {
    flex-direction: column;
  }

  aside {
    display: none;
  }

  #readme {
    display: block;
  }
}
