{{range .Feeds}}
<div style="margin-bottom: 10px;">
    <h2 style="margin-bottom: 3px;"><a href="{{.Link}}">{{.Title}}</a></h2>
    <div>{{.Description}}</div>
</div>

<div>
    {{range .Items}}
    <div>
        <a href="{{.Link}}">{{.Title}}</a>
    </div>
    {{end}}
</div>

<hr style="margin: 10px 0;" />
{{end}}
