*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --line-height: 1.3rem;
  --grid-height: 0.65rem;
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  --pre: #252525;
  --bg-color: #282a36;
  --text-color: #f2f2f2;
  --link-color: #8be9fd;
  --visited: #bd93f9;
  --grey-light: #6a708e;
  --green: #50fa7b;
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: var(--line-height);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0 auto;
  max-width: var(--body-max-width, 720px);
  position: relative;
}

header {
  margin: 1rem auto;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: var(--font-mono);
  font-weight: bold;
  font-size: 1.6rem;
  line-height: calc(var(--line-height) * 1.5);
  margin-top: calc(var(--line-height) * 2.5);
  margin-bottom: var(--grid-height);
}

p {
  margin-top: var(--line-height);
  margin-bottom: var(--line-height);
}

article {
  overflow-wrap: break-word;
}

footer {
  text-align: center;
  margin-bottom: calc(var(--line-height) * 3);
}

a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  padding: 0 2px;
  border-radius: 1px;
  transition: background-color 0.1s ease, color 0.1s ease;
}

a:hover {
  background-color: var(--link-color);
  color: var(--bg-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited);
}

a:visited:hover {
  background-color: var(--visited);
  color: var(--bg-color);
  text-decoration: none;
}

.mono,
time {
  font-family: var(--font-mono);
  font-variant-numeric: tabular-nums;
}

.box-sm {
  border: 1px solid var(--grey-light);
  padding: var(--grid-height);
  background-color: var(--pre);
}

.text-green {
  color: var(--green);
}

.text-grey {
  color: var(--grey-light);
}

.text-sm {
  font-size: 0.8rem;
}

.text-md {
  font-size: 1rem;
  font-weight: bold;
  line-height: var(--line-height);
  margin-bottom: var(--grid-height);
}

.font-italic {
  font-style: italic;
}

.transform-none {
  text-transform: none;
}

.post-date {
  width: 110px;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.items-center {
  align-items: center;
}

.gap {
  gap: var(--grid-height);
}

.my {
  margin-top: var(--grid-height);
  margin-bottom: var(--grid-height);
}

.my-4 {
  margin-top: calc(var(--line-height) * 2);
  margin-bottom: calc(var(--line-height) * 2);
}

@media only screen and (max-width: 40em) {
  body {
    padding: 0 var(--grid-height);
  }

  header {
    margin: 0;
  }
}
