{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{template "title" .}}</title>

        <meta name="keywords" content="blog, blogging, write, writing, hackers, developers, terminal" />

        {{template "meta" .}}
    </head>
    <body {{template "attrs" .}}>{{template "body" .}}</body>
</html>
{{end}}
