{{define "blog-default"}}
<header>
    <h1>{{.Header.Title}}</h1>
    <nav>
        {{if .Header.Bio}}
        <span>{{.Header.Bio}}</span>
        <br />
        {{end}}
        {{range .Header.Nav}}
        <a href="{{.URL}}">{{.Text}}</a>&nbsp;
        {{end}}
        <a href="{{.RSSURL}}">rss</a>
    </nav>

    <hr />
</header>

<main>
    {{if .Readme.HasText}}
    <section id="readme">
        <article class="md">
            {{.Readme.Contents}}
        </article>
        <hr />
    </section>
    {{end}}

    <section id="posts">
        {{if .HasFilter}}
          <a href="{{.URL}}">clear filters</a>
        {{end}}

        <ul role="list">
        {{range .Posts}}
          <li>
            <article class="post">
              <time datetime="{{.PublishAtISO}}">{{.PublishAt}}</time>
              <a href="{{.URL}}">{{.Title}}</a>
            </article>
          </li>
        {{end}}
        </ul>
    </section>
</main>
{{end}}
