{{define "list"}}
	{{$indent := 0}}
	{{$mod := 0}}

	<ul>
		{{range .Items}}
	    {{if lt $indent .Indent}}
	    	<ul>
	    {{else if gt $indent .Indent}}
	    	{{$mod = minus $indent .Indent}}
	    	{{range $y := intRange 1 $mod}}
	    		</ul>
	    	{{end}}
	    {{end}}

	    {{$indent = .Indent}}

			{{if .IsText}}
				<li>{{.Value}}</li>
			{{end}}

			{{if .IsURL}}
				<li><a href="{{.URL}}">{{.Value}}</a></li>
			{{end}}

	    {{if .IsImg}}
	    	<li><img src="{{.URL}}" alt="{{.Value}}" /></li>
	    {{end}}

	    {{if .IsBlock}}
	    	<li><blockquote>{{.Value}}</blockquote></li>
	    {{end}}

	    {{if .IsPre}}
	    	<li><pre>{{.Value}}</pre></li>
	    {{end}}

	    {{if .IsHeaderOne}}
	    	</ul>
	    	<h2>{{.Value}}</h2>
	    	<ul>
	    {{end}}

	    {{if .IsHeaderTwo}}
	    	</ul>
	    	<h3>{{.Value}}</h3>
	    	<ul>
	    {{end}}

	    {{if .IsHr}}
	    	</ul>
	    	<hr />
	    	<ul>
	    {{end}}
		{{end}}
		{{if gt $indent 0}}
			{{range $y := intRange 1 $indent}}
				</ul>
			{{end}}
		{{end}}
	</ul>
{{end}}
