{{define "list"}}
	{{$indent := 0}}
	{{$mod := 0}}

	<div role="list">
		{{range .Items}}
	    {{if lt $indent .Indent}}
	    	<div role="list">
	    {{else if gt $indent .Indent}}
	    	{{$mod = minus $indent .Indent}}
	    	{{range $y := intRange 1 $mod}}
	    		</div>
	    	{{end}}
	    {{end}}

	    {{$indent = .Indent}}

			{{if .IsText}}
				<div role="listitem">
					<div class="listitem-bullet">•</div>
					<div class="listitem-text">{{.Value}}</div>
				</div>
			{{end}}

			{{if .IsURL}}
				<div role="listitem">
					<div class="listitem-bullet">•</div>
					<a class="listitem-text" href="{{.URL}}">{{.Value}}</a>
				</div>
			{{end}}

	    {{if .IsImg}}
	    	<div role="listitem">
					<div class="listitem-bullet">•</div>
		    	<img class="listeitem-text" src="{{.URL}}" alt="{{.Value}}" />
		    </div>
	    {{end}}

	    {{if .IsBlock}}
	    	<div role="listitem">
					<div class="listitem-bullet">•</div>
		    	<blockquote class="listitem-text">{{.Value}}</blockquote>
		    </div>
	    {{end}}

	    {{if .IsPre}}
	    	<div role="listitem">
					<div class="listitem-bullet">•</div>
		    	<pre class="listitem-text">{{.Value}}</pre>
		    </div>
	    {{end}}

	    {{if .IsHeaderOne}}
	    	</div>
	    	<h2 class="text-xl font-bold">{{.Value}}</h2>
	    	<div role="list" aria-label="{{.Value}}">
	    {{end}}

	    {{if .IsHeaderTwo}}
	    	</div>
	    	<h3 class="text-lg font-bold">{{.Value}}</h3>
	    	<div role="list" aria-label="{{.Value}}">
	    {{end}}

	    {{if .IsHr}}
	    	</div>
	    	<hr />
	    	<div role="list" aria-label="{{.Value}}">
	    {{end}}
		{{end}}
	</div>
{{end}}
