{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}

{{define "meta"}}
{{if .Favicon}}
<link rel="icon" href="{{.Favicon}}">
{{else}}
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
{{end}}

<meta name="description" content="{{.Description}}" />

<meta property="og:type" content="website">
<meta property="og:site_name" content="{{.Site.Domain}}">
<meta property="og:url" content="{{.URL}}">
<meta property="og:title" content="{{.Title}}">
{{if .Description}}<meta property="og:description" content="{{.Description}}">{{end}}

{{if .Image}}
<meta itemprop="image" content="{{.Image}}" />
<meta property="og:image" content="{{.Image}}" />

<meta name="twitter:image" content="{{.Image}}" />
{{else}}
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta itemprop="image" content="https://{{.Site.Domain}}/card.png" />
<meta property="og:image" content="https://{{.Site.Domain}}/card.png" />

<meta name="twitter:image" content="https://{{.Site.Domain}}/card.png" />
{{end}}

{{if .ImageCard}}
<meta property="twitter:card" content="{{.ImageCard}}">
{{else}}
<meta property="twitter:card" content="summary">
{{end}}
<meta property="twitter:url" content="{{.URL}}">
<meta property="twitter:title" content="{{.Title}}">
{{if .Description}}<meta property="twitter:description" content="{{.Description}}">{{end}}

<link rel="stylesheet" href="/syntax.css" />
{{if .WithStyles}}
  <link rel="stylesheet" href="/smol.css" />
{{else}}
{{end}}
{{if .HasCSS}}<link rel="stylesheet" href="{{.CssURL}}" />{{end}}
{{end}}

{{define "attrs"}}id="post" class="{{.Slug}}"{{end}}

{{define "body"}}
<header>
    <h1 class="text-2xl font-bold">{{.Title}}</h1>
    <p class="font-bold m-0">
        <time datetime="{{.PublishAtISO}}">{{.PublishAt}}</time>
        <span>&middot;<span>
        <a href="{{.BlogURL}}">{{.BlogName}}</a>
    </p>
    {{if .Description}}<blockquote>{{.Description}}</blockquote>{{end}}
    <hr />
</header>
<main>
    <article class="md">
        {{.Contents}}

        <div class="tags">
          {{range .Tags}}
              <code class="pill tag"><a href="{{$.BlogURL}}?tag={{.}}">#{{.}}</a></code>
          {{end}}
        </div>

        <div id="last-updated" class="text-sm">
          last updated: <time datetime="{{.UpdatedAtISO}}">{{.UpdatedAt}}</time>
        </div>

        <div id="post-footer">{{.Footer}}</div>
    </article>
</main>
{{template "footer" .}}
{{end}}
