{{template "base" .}}

{{define "title"}}prose.sh -- A blog platform for hackers{{end}}

{{define "meta"}}
<meta name="description" content="A blog platform for hackers" />
<link rel="alternate" href="/rss" type="application/rss+xml" title="RSS feed for prose.sh" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

<meta property="og:type" content="website">
<meta property="og:site_name" content="{{.Site.Domain}}">
<meta property="og:url" content="https://{{.Site.Domain}}">
<meta property="og:title" content="{{.Site.Domain}}">
<meta property="og:description" content="A blog platform for hackers">

<meta name="twitter:card" content="summary" />
<meta property="twitter:url" content="https://{{.Site.Domain}}">
<meta property="twitter:title" content="{{.Site.Domain}}">
<meta property="twitter:description" content="A blog platform for hackers">
<meta name="twitter:image" content="https://{{.Site.Domain}}/card.png" />
<meta name="twitter:image:src" content="https://{{.Site.Domain}}/card.png" />

<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta itemprop="image" content="https://{{.Site.Domain}}/card.png" />
<meta property="og:image" content="https://{{.Site.Domain}}/card.png" />

<link rel="stylesheet" href="/read.css" />
{{end}}

{{define "attrs"}}{{end}}

{{define "body"}}
<header>
    <h1>prose.sh</h1>
    <p>A blog platform for hackers</p>
    <div class="flex items-center gap my">
        <span class="box-sm mono text-sm"><span class="text-green">$</span> ssh pico.sh</span>
        <a href="https://pico.sh/prose" class="mono">[docs]</a>
        <a href="/rss" class="mono">[rss]</a>
    </div>
</header>

<main>
    <div class="flex items-center text-sm text-grey mono my">
        <span class="post-date">DATE</span>
        <span class="flex-1">POST</span>
        <span>SCORE</span>
    </div>
    {{range .Posts}}
    <article class="my">
        <div class="flex items-center">
            <time datetime="{{.PublishAtISO}}" class="mono text-sm post-date">{{.PublishAt}}</time>
            <div class="flex-1">
                <a class="text-md transform-none" href="{{.URL}}">{{.Title}}</a>
                <span class="text-sm mono">
                    <a href="{{.BlogURL}}" class="text-grey">~{{.Username}}</a>
                </span>
            </div>
            <span class="text-sm text-grey mono">[{{.Score}}]</span>
        </div>
    </article>
    {{end}}
</main>
{{template "marketing-footer" .}}
{{end}}
