{{template "base" .}}

{{define "title"}}pipe: pubsub without the infrastructure. stream data between machines using ssh.{{end}}

{{define "meta"}}
<meta name="description" content="authenticated *nix pipes over ssh" />

<meta property="og:type" content="website">
<meta property="og:site_name" content="{{.Site.Domain}}">
<meta property="og:url" content="https://{{.Site.Domain}}">
<meta property="og:title" content="{{.Site.Domain}}">
<meta property="og:description" content="pubsub using ssh">
{{end}}

{{define "attrs"}}class="container-sm"{{end}}

{{define "body"}}
<header class="flex flex-col items-center gap-2">
  <div class="flex flex-col">
    <img src="https://pico.sh/logo.svg" alt="pico logo" width="50" height="50" />
    <canvas id="canvas" width="50" height="50"></canvas>
    <hr width="100%" class="m-0" />
  </div>
  <h1 class="text-2xl font-bold text-center">PubSub without the infrastructure. Stream data between machines using ssh.</h1>
  <div class="text-center flex gap">
    <a href="https://pico.sh/getting-started" class="btn-link mt inline-block">GET STARTED</a>
    <a href="https://pico.sh/pipe" class="btn-link mt inline-block">DOCS</a>
  </div>
</header>

{{template "marketing-footer" .}}
{{end}}
