{{if .ShowBanner}}
> In order to keep this digest email active you must click the link below. You have {{.DaysLeft}} days left.
> {{.KeepAliveURL}}
{{end}}

{{range .Feeds}}
    {{.Title}}
    {{.Link}}
    {{.Description}}

    {{range .Items}}
    {{.Title}}
    {{.Link}}
    {{end}}

    ---

{{end}}

> {{.UnsubURL}} to unsubscribe to this digest.
