{{define "title"}}Form Submitted{{end}}

{{define "meta"}}
{{end}}

{{define "attrs"}}class="container" style="height: 100vh;"{{end}}

{{define "body"}}
<div class="container flex justify-center">
	<div style="max-width: 450px;" class="mt-4 border py-4 px-4 flex flex-col gap">
  	<h1 class="text-lg">Form Submitted</h1>

		{{if .Error}}
  	<div style="color: tomato;">{{.Error}}</div>
		{{else}}
  	<div>Form submitted successfully!</div>
  	{{end}}
	</div>
</div>
{{end}}
