{{template "base" .}}

{{define "title"}}{{.Site.Domain}} -- Deploy static sites with a single command. rsync and you're live.{{end}}

{{define "meta"}}
<meta name="description" content="Deploy static sites with a single command. rsync and you're live." />

<meta property="og:type" content="website">
<meta property="og:site_name" content="{{.Site.Domain}}">
<meta property="og:url" content="https://{{.Site.Domain}}">
<meta property="og:title" content="{{.Site.Domain}}">
<meta property="og:description" content="Deploy static sites with a single command. rsync and you're live.">

<meta name="twitter:card" content="summary" />
<meta property="twitter:url" content="https://{{.Site.Domain}}">
<meta property="twitter:title" content="{{.Site.Domain}}">
<meta property="twitter:description" content="Deploy static sites with a single command. rsync and you're live.">
<meta name="twitter:image" content="https://{{.Site.Domain}}/card.png" />
<meta name="twitter:image:src" content="https://{{.Site.Domain}}/card.png" />

<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta itemprop="image" content="https://{{.Site.Domain}}/card.png" />
<meta property="og:image" content="https://{{.Site.Domain}}/card.png" />
{{end}}

{{define "attrs"}}{{end}}

{{define "body"}}
<header>
  <h1 class="text-2xl font-bold">{{.Site.Domain}}</h1>
  <p class="text-lg">Deploy static sites with a single command. rsync and you're live.</p>
  <div class="flex gap my">
    <a href="https://pico.sh/getting-started" class="btn-link">GET STARTED</a>
    <a href="https://pico.sh/pgs" class="btn-link">DOCS</a>
  </div>

  <hr />
  <div class="group">
    <div class="box">
      <h2 class="text-xl">Publish your site with one command</h2>

      <p>
	      Deploy static sites with a single command. No passwords. No config files. No CI setup.
	      Just your SSH key and rsync.
      </p>

      <pre>rsync -rv public/ pgs.sh:/myproj/</pre>

      <p>
        That's it! There's no need to formally create a project, we create them
        on-the-fly. Further, we provide TLS for every site automatically.
      </p>
    </div>
  </div>
</header>

{{template "marketing-footer" .}}
{{end}}
